<div class="tag-list">
  <div class="row locationTags">
    <div class="label">Neighborhoods</div>
    <div class="tagContainer">
      @for (tag of locationTags; track tag; let i = $index) {
      <div
        class="tag"
        [style.--i]="i"
        (click)="onTagClicked(tag)"
        [ngClass]="{ active: isTagSelected(tag), disabled: isTagDisabled(tag) }"
        [attr.aria-disabled]="isTagDisabled(tag)"
      >
        {{ tag }}
      </div>
      }
    </div>
  </div>

  <div class="row vibeTags">
    <div class="label">Ambience</div>
    <div class="tagContainer">
      @for (tag of vibeTags; track tag; let i = $index) {
      <div
        class="tag"
        [style.--i]="i"
        (click)="onTagClicked(tag)"
        [ngClass]="{ active: isTagSelected(tag), disabled: isTagDisabled(tag) }"
        [attr.aria-disabled]="isTagDisabled(tag)"
      >
        {{ tag }}
      </div>
      }
    </div>
  </div>

  <div class="row stuffTags">
    <div class="label">Food & Drink</div>
    <div class="tagContainer">
      @for (tag of stuffTags; track tag; let i = $index) {
      <div
        class="tag"
        [style.--i]="i"
        (click)="onTagClicked(tag)"
        [ngClass]="{ active: isTagSelected(tag), disabled: isTagDisabled(tag) }"
        [attr.aria-disabled]="isTagDisabled(tag)"
      >
        {{ tag }}
      </div>
      }
    </div>
  </div>
</div>

<button (click)="clearSelectedTags()" class="clear-button">Clear</button>
