<!-- <div class="place-list">
  @for (place of placesInput; track place) {
    <div class="place-card">
      <h2>{{ place.name }}</h2>
      <div class="tag-list">
        @for (tag of filterLocationTags(place.tags); track tag) {
          <span
            class="tag"
            [ngClass]="{ highlighted: place.highlightedTags?.includes(tag) }"
            >{{ tag }}</span
            >
          }
        </div>
        @if (place.mapsLink) {
          <a href="{{ place.mapsLink }}" target="_blank"
            >Location</a
            >
          }
        </div>
      }
    </div> -->
