.place-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .place-card {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        min-width: 200px;
        max-width: 300px;

        h2 {
            margin-bottom: 10px;
        }
        
        .tag-list .tag {
            border: none;
          }

        a {
            display: inline-block;
            margin-top: 10px;
            color: #007bff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            &:visited {
                color: #009be3;
            }
        }
    }
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  
    .tag {
      background-color: #f2f2f2;
      padding: 6px 12px;
      border-radius: 20px;
      cursor: pointer;
      transition: border-color 0.2s ease-in-out;
    }
  }