<div class="container">
  <h1>Dodi's Places</h1>
  <!-- <div class="tag-list">
    <span *ngFor="let tag of allTags" class="tag" (click)="onTagClicked(tag)">{{ tag }}</span>
  </div> -->
  <div class="tag-list">
    <span *ngFor="let tag of allTags" class="tag" (click)="onTagClicked(tag)"
      [ngClass]="{ 'active': selectedTag === tag }">
      {{ tag }}
    </span>
  </div>
  <h2 class="placesWithTag">Places with the tag: <span>{{ selectedTag }}</span></h2>
  <app-places-list [placesInput]="filteredPlaces"></app-places-list>
</div>